<div class="container align-items-center align-content-center">
    <div class="row">
      <div class="col-sm-12 ">
        <!-- <form class="form-inline">
          <fieldset class="form-group col-sm-11"></fieldset>
          <fieldset class="form-group col-sm-1">
               <a class="btn btn-primary" [routerLink]="['/productos/agregar']">+</a>
          </fieldset>
        </form> -->
        <table class="table w-75mx-auto  table-hover my-shadow">
            <thead>
                <tr class="row">
                  <th class="col-sm-1"></th>
                  <th class="col-sm-2"> Id </th>
                  <th class="col-sm-4"> Nombre </th>
                  <th class="col-sm-3"> Precio </th>
                  <th class="col-sm-2"> Borrar</th>
                </tr>
              </thead>
          <tbody>
            <tr *ngFor="let producto of productos | async" class="row">
                <td class="col-sm-1"></td>
              <td class="col-sm-2"><i>{{ producto.id_producto }}</i></td>
              <td class="col-sm-4"><i>{{ producto.nombre }}</i></td>
              <td class="col-sm-3"><i>{{ producto.precio }}</i></td>
              <!-- <td class="col-sm-1">
                <fieldset class="form-group col-sm-1">
                  <a class="btn btn-info" [routerLink]="['/productos/editar/', producto.id_producto]">Editar</a>
                </fieldset>
              </td> -->
              <td class="col-sm-2">
                <fieldset class="form-group col-sm-1">
                  <a class="btn btn-outline-success" (click)="  borrarProducto(producto.id_producto)">Borrar</a>
                </fieldset>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>